*{
    padding: 0;
    margin: 0;
}

.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.logo-onebitcode{
    max-width: 150px;
    cursor: pointer;
}

.header-buttons{
    display: flex;
    column-gap: 30px;
}

.button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    cursor:pointer;
    border-bottom: 2px solid black;
    transition: 0.4s;
}
.button:hover{
    border-bottom: 2px solid white;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    row-gap: 7px;
}

.main-content-article{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 360px;
    flex: 1 0 auto;
}

.main-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-left: 75px;
}

.img{
    width: 300px;
    height: 180px;
    border-radius: 10px;
}

.article-paragraph{
    font-size: 20px;
}

.side-content{
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 30px;


}

.all-content{
    display: flex;
    gap: 40px;
}

.side-content-article{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    flex: 1 0 auto;
}

.img-side{
    width: 220px;
    height: 150px;
    border-radius: 10px;
}

h2{
    font-size: 17px;
}

