*{
    padding: 0;
    margin: 0;
}

.container{
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo-onebitcode{
    max-width: 150px;
    cursor: pointer;
}

.header-buttons{
    display: flex;
    column-gap: 30px;
}

.button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    cursor:pointer;
    border-bottom: 2px solid black;
    transition: 0.4s;
}
.button:hover{
    border-bottom: 2px solid white;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    row-gap: 7px;
}

.main-content-article{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 320px;
    flex: 1 0 auto;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.6s;
    cursor: pointer;
}

.main-content-article:hover{
    border: 2px solid black;
}

.main-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-left: 75px;
    flex: 1 0 auto;
}

.img{
    width: 300px;
    height: 180px;
    border-radius: 10px;
}

.article-paragraph{
    font-size: 18px;
}

.side-content{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
    border-radius: 10px;


}

.all-content{
    display: flex;
    gap: 40px;
    min-width: 100%;
}

.side-content-article{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    flex: 1 0 auto;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    transition: 0.6s;
    cursor: pointer;
}

.side-content-article:hover{
    border: 2px solid white;
}

.img-side{
    width: 220px;
    height: 150px;
    border-radius: 10px;
}

h2{
    font-size: 17px;
    color: white;
}

.footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.back-to-top-button{
    font-size: 20px;
}

@media (max-width: 1360px){
    .main-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .img-side{
        width: 307px;
        height: 207px;
    }
    .main-content-article{
        width: 360px;
        height: 384px;
    }
    .img{
        width: 360px;
        height: 216px;
    }
    h2{
        font-size: 25px;
    }
    .side-content-article{
        font-size: 23px;
        gap: 30px;
    }
    .title{
        padding: 25px;
        font-size: 25px;
    }
    .side-content{
        padding: 30px;
    }
}

@media (max-width: 1280px){
    .main-content{
        grid-template-columns: 1fr;
    }
    .img-side{
        width: 451px;
        height: 284px;
    }
    .main-content-article{
        width: 468px;
        height: 499px;
    }
    .img{
        width: 468px;
        height: 280px;
    }
    .article-paragraph{
        font-size: 24px;
    }
    h2{
        font-size: 32px;
    }
    .side-content-article{
        font-size: 30px;
        gap: 40px;
    }
    h3{
        font-size: 30px;
    }
}

@media (max-width: 1130px){
    .all-content{
        flex-direction: column;
        align-items: center;
    }
    .main-content-article{
        width: 585px;
        height: 622px;
    }
    .img{
        width: 585px;
        height: 350px;
    }
    .title-paragraph{
        text-align: center;
    }
    h3{
        font-size: 35px;
    }
    .img-side{
        width: 550px;
        height: 380px;
    }
    .main-content{
        padding-left: 0px;
    }
    .side-content-article{
        gap: 5px;
    }
}

@media (max-width: 624px){
    .main-content-article{
        width: 351px;
        height: 373px;
    }
    .img{
        width: 351px;
        height: 210px;
    }
    h3{
        font-size: 21px;
    }
    .article-paragraph{
        font-size: 15px;
    }
    .title{
        font-size: 15px;
    }
    .img-side{
        width: 297px;
        height: 206px;
    }
    h2{
        font-size: 22px;
    }
    .side-content-article{
        font-size: 18px;
    }
    .header-buttons{
        column-gap: 15px;
    }
}

@media (max-width: 390px){
    .main-content-article{
        width: 263px;
        height: 280px;
    }
    .img{
        width: 263px;
        height: 158px;
    }
    h3{
        font-size: 16px;
    }
    .article-paragraph{
        font-size: 13px;
    }
    .title{
        font-size: 11px;
        text-align: center;
    }
    .img-side{
        width: 200px;
        height: 140px;
    }
    h2{
        font-size: 19px;
    }
    .side-content-article{
        font-size: 14px;
    }
    .header-buttons{
        column-gap: 5px;
        font-size: 10px;
    }
    .header{
        padding: 10px;
    }
    .back-to-top-button{
        font-size: 11px;
    }
    .footer{
        padding: 10px;
    }
}